[submodule "Gear_Method"]
	path = Gear_Method
	url = https://m0ch1m0ch1@github.com/m0ch1m0ch1/Gear_Method.git
[submodule "Gillespie_Method"]
	path = Gillespie_Method
	url = https://m0ch1m0ch1@github.com/m0ch1m0ch1/Gillespie_Method.git
